.videoTag{
    max-height: 100%;
    max-width: 100%;
    
}
.video-container{
    position: absolute;
}
.signin-form-container{
    position: absolute;
    height: 20px;
    display:inline-flex;
    margin: 20vh;
   
}

.signin-form{
    background-color: white;
    height: 60vh;
    width: 50vh;
    display: grid;
    border: 2px;
    border-radius: 10px;
}

.username-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.password-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}